* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
        "微软雅黑", Arial, sans-serif;
}

html {
    background: #fff;
    transition: color 300ms, background-color 300ms;
    &.dark {
        filter: contrast(100%) invert(100%);
        img {
            filter: hue-rotate(180deg);
        }
    }
}
body {
    height: 100%;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}


#app,
#root {
    height: 100%;
}

.no-padding {
    padding: 0px !important;
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .3);
}

::-webkit-scrollbar-track {
    background: transparent;
}


@import url(./index.scss);